* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --pink: hsl(322, 100%, 66%);
  --light-pink: hsl(321, 100%, 78%);
  --light-red: hsl(0, 100%, 63%);
  --dark-cyan: hsl(192, 100%, 9%);
  --pale-blue: hsl(207, 100%, 98%);
}

body {
  min-height: 100vh;
  font-family: "Open Sans", sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  min-width: 100vw;
  padding: 70px 100px;
}

main {
  margin-top: 150px;
}

section.top__description {
  gap: 30px;
}

section.numbers__messages {
  flex-direction: row;
  gap: 400px;
}

div.communities__in p:first-child,
div.messages__in p:first-child {
  font-size: 6rem;
  font-weight: bold;
}

section.grow__together {
  background-color: var(--pale-blue);
  padding: 80px 50px;
  flex-direction: row;
}

div.section__inner h1 {
  margin-bottom: 40px;
}

div.bg__top__1 {
  background-image: url(../images/bg-section-top-desktop-1.svg);
}

div.bg__bottom__1 {
  background-image: url(../images/bg-section-bottom-desktop-1.svg);
}

div.bg__sect {
  width: 100%;
  height: 55px;
  padding: 10em;
  background-repeat: no-repeat;
  background-size: cover;
}

p {
  font-size: 22px;
}

div.td__p {
  width: 700px;
  text-align: center;
}

h1 {
  font-family: "Poppins", sans-serif;
  font-size: 60px;
}

textarea {
  resize: none;
}

.btn-top {
  color: var(--pink);
  font-size: 18px;
  border: 2px solid var(--pink);
  border-radius: 50px;
  background-color: white;
  padding: 10px 30px;
}

.btn-in {
  color: white;
  background-color: var(--pink);
  border-radius: 50px;
  border: none;
  padding: 30px 110px;
  font-size: 24px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

.display__flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
