* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --pink: hsl(322, 100%, 66%);
  --light-pink: hsl(321, 100%, 78%);
  --light-red: hsl(0, 100%, 63%);
  --dark-cyan: hsl(192, 100%, 9%);
  --pale-blue: hsl(207, 100%, 98%);
}

body {
  min-height: 100vh;
  font-family: "Open Sans", sans-serif;
  overflow-x: hidden;
}

header {
  display: flex;
  justify-content: space-between;
  min-width: 100vw;
  padding: 70px 100px;
}

main {
  margin-top: 150px;
}

section {
  padding: 100px 0;
}

footer {
  background-color: var(--dark-cyan);
  width: 100%;
  padding: 0 150px;
  color: white;
}

footer section.display__flex {
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
}

footer.display__flex {
  flex-direction: row;
}

p.phone img,
p.email img {
  padding-right: 15px;
}
div.footer__left__p {
  margin-right: 25%;
}

div.footer__right__p {
  margin-right: 300px;
}

div.footer__right__field {
  flex-direction: row;
  gap: 50px;
}

h2 {
  font-size: 32px;
}

section.top__description {
  gap: 30px;
}

section.numbers__messages {
  flex-direction: row;
  gap: 400px;
}

div.communities__in p:first-child,
div.messages__in p:first-child {
  font-size: 6rem;
  font-weight: bold;
}

section.main__section {
  background-color: var(--pale-blue);
  padding: 80px 170px;
  flex-direction: row;
  gap: 250px;
}

section.no__bgc {
  background-color: white;
}

div.section__inner h1 {
  margin-bottom: 40px;
  font-size: 48px;
}

div.bg__top__1 {
  background-image: url(../images/bg-section-top-desktop-1.svg);
}

div.bg__bottom__1 {
  background-image: url(../images/bg-section-bottom-desktop-1.svg);
  margin-bottom: 200px;
}

div.bg__top__2 {
  background-image: url(../images/bg-section-top-desktop-2.svg);
}

div.bg__bottom__2 {
  background-image: url(../images/bg-section-bottom-desktop-2.svg);
}

div.bg__top__footer {
  background-image: url(../images/bg-footer-top-desktop.svg);
}

div.bg__sect {
  width: 100%;
  height: 55px;
  padding: 100px;
  background-repeat: no-repeat;
  background-size: cover;
}

img.illustration {
  width: 40%;
}

p {
  font-size: 22px;
}

div.td__p {
  width: 700px;
  text-align: center;
}

h1 {
  font-family: "Poppins", sans-serif;
  font-size: 60px;
}

.email__input {
  border: none;
  border-radius: 10px;
  padding: 17px 70px;
  font-size: 18px;
}

img.screen__mockups__img {
  width: 100%;
}

img.mess__com_img {
  width: 20%;
}

button {
  cursor: pointer;
}

.btn-top {
  color: var(--pink);
  font-size: 18px;
  border: 2px solid var(--pink);
  border-radius: 50px;
  background-color: white;
  padding: 10px 30px;
}

.btn-top:hover {
  color: var(--light-pink);
  border-color: var(--light-pink);
  box-shadow: 0px 0px 5px 1px var(--light-pink);
}

.btn-in {
  color: white;
  background-color: var(--pink);
  border-radius: 50px;
  border: none;
  padding: 1em 3em;
  font-size: 24px;
}

.btn-in:hover,
.btn-bot:hover {
  background-color: var(--light-pink);
}

.btn-bot {
  background-color: var(--pink);
  border: none;
  border-radius: 10px;
  padding: 17px 70px;
  font-weight: 700;
  font-size: 18px;
  color: white;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

.display__flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

ion-icon {
  font-size: 45px;
  padding: 50px 10px 0px 10px;
}

@media screen and (max-width: 1024px) {
  header {
    width: 100%;
    padding: 40px 20px;
    align-items: center;
  }

  div.logo__img {
    width: 40%;
  }

  img.logo {
    width: 100%;
  }

  .btn-top {
    font-size: 16px;
  }

  div.td__p {
    width: 100%;
  }

  img.illustration {
    width: 100%;
  }

  div.footer__right__field {
    flex-direction: column;
  }

  section.display__flex,
  figure {
    flex-direction: column;
    padding: 0px 10px 60px 10px;
    text-align: center;
  }

  footer.display__flex {
    flex-direction: column;
    padding: 10px 0;
  }

  h1 {
    font-size: 30px;
  }

  section p {
    font-size: 18px;
  }

  section.numbers__messages {
    gap: 200px;
  }

  section.main__section {
    gap: 50px;
  }

  div.footer__right__p {
    text-align: left;
    margin-right: 10px;
  }

  div.footer__right__field {
    justify-content: right;
    align-items: flex-end;
    gap: 10px;
  }

  .email__input {
    padding: 17px 60px;
  }
}
